# Dependências (nunca devem subir)
node_modules/
dist/
build/

# Arquivos de configuração local e chaves de segurança
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema operacional e do VS Code
.vscode/
.DS_Store
Thumbs.db
*.log